* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // border: 1px solid red;
  letter-spacing: 0.9px;
  h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.1;
  }
  h2 {
    font-size: 25px;
    font-weight: bold;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
  }
  h4 {
    font-size: 19px;
    font-weight: bold;
  }
  h5 {
    font-size: 18px;
    font-weight: bold;
  }
  p {
    font-size: 16px;
    line-height: 1.3;
  }
  scroll-behavior: smooth;
}

body {
  background-color: #131615;
  color: white;
}

.container {
  width: 1200px;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
  font-weight: bold;
  transition: 0.3s;
}

a:hover {
  color: rgba(255, 255, 255, 0.7);
}

button {
  cursor: pointer;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
}
