* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.9px;
  scroll-behavior: smooth;
}
* h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.1;
}
* h2 {
  font-size: 25px;
  font-weight: bold;
}
* h3 {
  font-size: 20px;
  font-weight: bold;
}
* h4 {
  font-size: 19px;
  font-weight: bold;
}
* h5 {
  font-size: 18px;
  font-weight: bold;
}
* p {
  font-size: 16px;
  line-height: 1.3;
}

body {
  background-color: #272727;
  color: #eeeeee;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
  font-weight: bold;
  transition: 0.3s;
}

a:hover {
  color: rgba(255, 255, 255, 0.7);
}

button {
  cursor: pointer;
}

.container {
  width: 1200px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.1;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
  }
  h3 {
    font-size: 17px;
    font-weight: bold;
  }
  h4 {
    font-size: 16px;
    font-weight: bold;
  }
  h5 {
    font-size: 16px;
    font-weight: bold;
  }
  p {
    font-size: 15px;
    line-height: 1.3;
  }
}
@media (min-width: 501px) and (max-width: 900px) {
  h1 {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.1;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  h3 {
    font-size: 19px;
    font-weight: bold;
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
  }
  h5 {
    font-size: 17px;
    font-weight: bold;
  }
  p {
    font-size: 15px;
    line-height: 1.3;
  }
}
.hidden {
  display: none;
}

header {
  padding: 20px 0;
  background-color: #090909;
  box-shadow: 1px 1px 1px rgb(8, 8, 8);
}
header .navContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  padding: 0 20px;
}
header .navContainer .ulNavBar {
  list-style: none;
  display: flex;
  align-items: center;
  color: #eee;
  gap: 20px;
}
header .navContainer .ulNavBar .navBtn {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 5px 25px;
  border-radius: 10px;
  transition: 0.3s;
}
header .navContainer .ulNavBar .navBtn:hover,
header .navContainer .ulNavBar focus,
header .navContainer .ulNavBar active {
  background-color: white;
  color: black;
}
header .navContainer .ulNavBar .navBtn:hover a,
header .navContainer .ulNavBar focus a,
header .navContainer .ulNavBar active a {
  color: black;
}

main .backgroundHero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(8, 8, 8, 0.8), rgb(39, 39, 39)), url("../assets/background1.jpg");
}
main .heroContainer {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
main .heroContainer .divLeft {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
main .heroContainer .divLeft p {
  opacity: 0.7;
}
main .heroContainer .divRight {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .heroContainer .divRight .creatorImg {
  width: 50%;
}
main .projectsContainer {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .projectsContainer .centerDiv {
  text-align: center;
}
main .projectsContainer .centerDiv p {
  margin: 5px;
  opacity: 0.7;
}
main .projectsContainer .projectsMain {
  padding: 30px 10px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}
main .projectsContainer .projectsCard {
  position: relative;
  width: 20%;
  background-color: #191919;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
}
main .projectsContainer .projectsCard:hover {
  scale: 1.05;
}
main .projectsContainer .coverLink {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
main .projectsContainer .cardImg {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
main .projectsContainer .projectCardContent {
  padding: 10px;
}
main .projectsContainer .projectCardContent p {
  font-size: 13px;
  padding-bottom: 10px;
}
main .projectsContainer .projectCardContent a {
  font-size: 14px;
}
main .projectsContainer .projectCardContent .projectsCategory {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
}
main .projectsContainer .projectCardContent .projectsCategory p {
  padding: 3px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 12px;
}

footer {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background-color: #191919;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
footer .footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: 501px) and (max-width: 900px) {
  #navContainer {
    justify-content: center;
    align-items: center;
  }
  #navContainer .ulNavBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .heroContainer {
    height: 60vh;
    padding: 0 20px;
    gap: 5%;
  }
  .heroContainer .divLeft {
    min-width: 55%;
    flex-direction: column;
  }
  .heroContainer .divRight {
    min-width: 30%;
  }
  .heroContainer .divRight .creatorImg {
    min-width: 80%;
  }
  .projectsContainer {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .projectsContainer .centerDiv {
    text-align: center;
  }
  .projectsContainer .centerDiv p {
    margin: 5px;
    opacity: 0.7;
  }
  .projectsContainer .projectsMain {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .projectsContainer .projectsCard {
    min-width: 40%;
  }
  .projectsContainer .projectCardContent {
    padding: 15px;
  }
  .projectsContainer .projectCardContent p {
    padding-top: 10px;
  }
  .projectsContainer .projectCardContent a {
    padding-top: 10px;
  }
}
@media (max-width: 500px) {
  #navContainer {
    justify-content: center;
    align-items: center;
  }
  #navContainer .ulNavBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .heroContainer {
    padding: 20px 10px;
    flex-wrap: wrap;
    gap: 5%;
  }
  .heroContainer .divLeft {
    order: 2;
    min-width: 90%;
    flex-direction: column;
  }
  .heroContainer .divLeft h1,
  .heroContainer .divLeft h2,
  .heroContainer .divLeft p {
    margin: 0 auto;
    text-align: center;
  }
  .heroContainer .divRight {
    order: 1;
    min-width: 90%;
  }
  .heroContainer .divRight .creatorImg {
    min-width: 70%;
  }
  .projectsContainer {
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .projectsContainer .centerDiv {
    text-align: center;
  }
  .projectsContainer .centerDiv p {
    margin: 5px;
    opacity: 0.7;
  }
  .projectsContainer .projectsMain {
    padding: 30px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .projectsContainer .projectsCard {
    margin: 0 auto;
    min-width: 90%;
  }
  .projectsContainer .cardImg {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .projectsContainer .projectCardContent {
    padding: 10px;
  }
  .projectsContainer .projectCardContent h3 {
    padding-bottom: 5px;
  }
  .projectsContainer .projectCardContent p {
    font-size: 13px;
    padding-bottom: 10px;
  }
  .projectsContainer .projectCardContent a {
    font-size: 14px;
  }
  footer .footerContainer {
    text-align: center;
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
